/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Left circle: #8c3d62
  Right circle: #ff8582
*/

.box {
  background-color: #030026;
}

.shape {
  height: 100px;
  width: 100px;
  background-color:#8c3d62 ;
  border-radius: 100% 100% 50% 0;
}
