/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #998235
  Black: #191919
  White: #fff
*/

.box {
  background-color: #998235;
}

.piano {
  height: 100px;
  width: 180px;
  background-color: black;
  position: absolute;
  top: 100px;
  border-radius: 10px;
  left: 110px;
}
.piano::after{
  content: '';
  position: absolute;
  height: 70px;
  width: 20px;
  background-color: white;
  border-radius: 5px;
  top: 25px;
  left: 5px;
  box-shadow: 25px 0 white, 50px 0 white, 75px 0 white, 100px 0 white, 125px 0 white, 150px 0 white;
}
.piano::before{
  content: '';
  position: absolute;
  height: 35px;
  width: 15px;
  top: 25px;
  left: 20px;
  background-color: black;
  z-index: 2;
  box-shadow: 25px 0 black, 75px 0 black, 100px 0 black, 125px 0 black;
}
