/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0B2429
  Yellow: #F3AC3C
  Olive: #998235
*/

.box {
  background-color: #0b2429;
}

.eye {
  width: 200px;
  height: 200px;
  background-color: #998235;
  border-radius: 100px 0 100px 0 ;
  rotate: 45deg;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.eye::after{
  content: '';
  position: absolute;
  border-radius: 100px;
  top:10px;
  left:10px;
  width: 180px;
  height: 180px;
  border: 20px solid black;
  background-color: #F3AC3C;
}
.eye::before{
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: black;
  top: 75px;
  left: 75px;
  border-radius: 100px;
  z-index: 2;
}
