/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #AA445F
  Yellow: #F7EC7D
  Orange: #E38F66
*/

.box {
  background-color: #aa445f;
}

.shape {
  width: 200px;
  height: 100px;
  background-color: #E38F66;
  border-radius: 100px 100px 0 0 ;
  rotate: 90deg;
  margin-left: 175px;
  margin-top: 100px;
}
.shape::after{
  content: '';
  position: absolute;
  width: 200px;
  height: 100px;
  background-color:#F7EC7D;
  border-radius: 100px 100px 0 0 ;
  rotate: 180deg;
  margin-top: 150px;
}
