/* 
Colors:
  Background: #191919
  Blue: #4F77FF
*/

.box {
  background-color: #191919;
}

.shape-1 {
  height: 100px;
  width: 120px;
  background-color: #4F77FF;
  margin-top: 85px;
  margin-left: 140px;
  border-radius: 60px 60px 10px 10px;
}
.shape-1::after{
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  top: 138px;
  left: 155px;
  background-color: #191919;
  border-radius: 100px;
  box-shadow: 50px 0 #191919;
}
.shape-1::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #191919;
  top:176px;
  left: 190px;
  border-radius: 100px;
}

.shape-2 {
  height: 30px;
  width: 80px;
  background-color: #4F77FF;
  margin-left: 160px;
  border-radius: 0px 0px 20px 20px;
}
.shape-2::after{
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #191919;
  border-radius: 10px 10px 0px 0px;
  top: 205px;
  left: 180px;
  box-shadow: 15px 0px #191919, 30px 0px #191919;
}