/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #F3AC3C
  Green: #1A4341
  Olive: #998235
*/

.box {
  background-color: #f3ac3c;
}

.rectangle {
  height: 200px;
  width: 200px;
  background-color:  #1A4341;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
.rectangle::after{
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color:#998235;
  top: 150px;
}
.rectangle::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color:#F3AC3C;
  top: 200px;
  left: 150px;
  z-index: 2;
}

