/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0B2429
  Yellow: #F7EC7D
  Orange: #E38F66
  Red: #AA445F
*/

.box {
  background-color: #62306d;
}

.switch {
  height: 100px;
  width: 100px;
  background-color: #F7EC7D;
  border-radius: 100px;
  margin-top: 100px;
  margin-left: 80px;
  box-shadow: 140px 0px #F7EC7D;
}
.switch::after{
  content: '';
  position: absolute;
  height: 110px;
  width: 100px;
  background-color: #AA445F;
  border-radius: 100px 100px 0 0 ;
  top: 50px;
  z-index: -1;
}
.switch::before{
  content: '';
  position: absolute;
  height: 110px;
  width: 100px;
  background-color: #E38F66;
  border-radius: 100px 100px 0 0 ;
  top: 140px;
  rotate: 180deg;
  left: 220px;
  z-index: -1;
}

