/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #5d3a3a
  Square:#b5e0ba
*/

.box {
  background-color: #5d3a3a;
}

.square {
  background-color: rgb(150, 198, 166);
  height: 200px;
  width: 200px;
}
