/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #1e3163
  Background-circle: #fff1c0
  Mountains: #ff5f54
*/

.box {
  background-color: #1e3163;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: #fff1c0
  ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.circle::after{
  content: '';
  position: absolute;
  rotate: 45deg ;
  left: 175px;
  top: 115px;
  border-radius: 0 0 100% 0;
  background-color: red;
  height: 150px;
  width: 80px
}
