/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Yellow:#F3AC3C
*/

.box {
  background-color: #0b2429;
}

.triangle {
  width: 140px;
  height: 140px;
  background-color:#F3AC3C ;
}
.triangle::after{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #0b2429;
  rotate: 45deg;
  left: 42px;
  top: 40px;
}
